.autocomplete-container {
    width: 300px; 
    
  }
  
  .autocomplete-paper {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    border: 1px solid #94A3B8; 
  }
  .autocomplete-option {
    padding: 4px 8px; 
    font-size: 0.875rem;
  }

  .autocomplete-container .MuiInputBase-root {
    position: relative;
  }
 
  
